<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="PYTHONPATH" value="E:\www\p9305"/>
        <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()"/>
        <add key="DJANGO_SETTINGS_MODULE" value="mysite.settings" />
        <add key="WSGI_LOG" value="E:\www\LogFiles\wfastcgi.log"/>
  </appSettings>
  <system.webServer>
     <handlers>
            <add name="httpplatformhandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" requireAccess="Script" />
     </handlers>
    <httpPlatform processPath="C:\virtualenvs\pyweb\Scripts\python.exe"
                  arguments="E:\www\p9305\manage.py runserver %HTTP_PLATFORM_PORT%"
                  stdoutLogEnabled="true"
                  stdoutLogFile="e:\www\LogFiles\python.log"
                  requestTimeout="00:04:00"
                  startupTimeLimit="60"
                  processesPerApplication="16">
      <environmentVariables>
        <environmentVariable name="PYTHONPATH" value="E:\www\p9305" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>

</configuration>